.projectPhases span {
    height: 40px;
}

.projectPhases {
    border: 1px solid black;
}
.workFlowStages {
    color: var(--grayscale-gray-1, #727272);
    font-size: 16px;
    font-weight: 400;
    display: flex;
    align-items: center;
    column-gap: 8px;
}
.workFlowStages li img {
    padding-top: 3px;
}
.innerDiv {
    border-radius: 16px 16px 0px 0px;
    background: var(--grayscale-black, #0d0d0d);
    padding-left: 25px;
    padding-top: 25px;
    height: 125px;
}

.title {
    color: var(--grayscale-white, #fff);
    font-size: 30px;
    font-weight: 400;
    line-height: 100%;
    margin-top: 14px;
}

.projectPhases {
    color: var(--grayscale-black, #0d0d0d);
    font-size: 20px;
    font-weight: 400;
    line-height: 120%;
    padding: 36px 0px 36px 24px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    column-gap: 50px;
    height: 305px;}
.projectPhases li {
    list-style: inside;
    padding: 1px;
    max-width: 550px;
}

.card {
    font-style: normal;
}
