.container {
    border-radius: 10.771px;
    background: url("./../../assets/images/bg_main.jpg"), lightgray 50% / cover no-repeat;
    background-size: 100%;
    background-position: 100%;
    margin-top: 100px;
}
