.container {
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 120px;
}
.block1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .blockLinks {
        display: flex;
        align-items: center;
        column-gap: 40px;
        li {
            list-style: none;
            color: #0d0d0d;
            font-size: 16px;
            font-weight: 500;
            line-height: 100%;
            cursor: pointer;
            transition: all 0.3s;
            &:hover {
                color: #ff6a49;
            }
        }
    }
    .blockImages {
        display: flex;
        align-items: center;
        column-gap: 16px;
        img {
            cursor: pointer;
        }
    }
}

.block2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #999;
    font-size: 16px;
    font-weight: 400;
    line-height: 100%;
    margin-top: 42px;
    margin-bottom: 60px;
}
